.user-msg {
    position: fixed;
    top: -50px;
    right: 10px;
    background-color: #111;
    border: 2px solid $fontColor;
    padding: 10px;
    &.open {
        top: 150px;
        transition: bottom 0.9s;
    }
    &.success {
        background-color: $clr6;
    }
    &.danger {
        background-color: $clr1;
    }
}
