* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bgcColor;
}

html,
input,
select,
textarea {
    font-family: OpenSans-Regular, CreteRound-Regular, sans-serif;
    color: $fontColor;
    font-weight: 300;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rem(8px);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

hr {
    height: 1px;
    background-color: $hrColor;
    border: none;
}

::selection {
    color: $clr4;
    background-color: $clr5;
}

input:focus-visible,
textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
