.home {
    .balance-details {
        h5,
        h4,
        p {
            margin: 0;
        }
        .user-balance {
            color: $clr6;
        }
    }
    .transfer-details,
    .lottery-trasfer-details,
    .balance-details-hr,
    img {
        margin-bottom: 35px;
    }
    img {
        max-width: 450px;
        border-radius: 15px;
    }
    .lottery-link {
        display: grid;
        place-content: center;
        text-decoration: underline;
        font-size: rem(20px);
        margin-bottom: 35px;
        color: $clr6;
        &:hover {
            opacity: 0.6;
            text-decoration: none;
        }
    }
}
