// OpenSans
@font-face {
    font-family: OpenSans-Regular;
    src: url("~@/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-Bold;
    src: url("~@/assets/fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-Light;
    src: url("~@/assets/fonts/OpenSans/OpenSans-Light.ttf");
}
@font-face {
    font-family: OpenSans-Italic;
    src: url("~@/assets/fonts/OpenSans/OpenSans-Italic.ttf");
}

// CreteRound
@font-face {
    font-family: CreteRound-Regular;
    src: url("~@/assets/fonts/CreteRound/CreteRound-Regular.ttf");
}
@font-face {
    font-family: CreteRound-Italic;
    src: url("~@/assets/fonts/CreteRound/CreteRound-Italic.ttf");
}

// MochiyPopPOne
@font-face {
    font-family: MochiyPopPOne;
    src: url("~@/assets/fonts/MochiyPopPOne/MochiyPopPOne-Regular.ttf");
}
