// BREAKPOINTS:
$mobile-breakpoint: 460px;
$tablet-breakpoint: 750px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1400px;

// COLORS

$bgcColor: #102e48;
$fontColor: #ebebeb;
$fontColor2: #8b8b8b;
$hrColor: #8b8b8b52;

$clr1: #c71f49;
$clr2: #1d7862;
$clr3: #4366a2;
$clr4: #062539;
$clr5: #b7533e;
$clr6: #7ec73a;
