.lottery-nums {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 8px;
    .num {
        background-color: black;
        color: black;
        text-align: center;
        border-radius: 50%;
        font-size: rem(22px);
        width: 40px;
        height: 40px;
        @include for-narrow-layout {
            font-size: rem(28px);
            width: 70px;
            height: 70px;
        }
        @include for-normal-layout {
            font-size: rem(32px);
            width: 90px;
            height: 90px;
        }
        &.win-num {
            color: $clr6;
            font-weight: 900;
            outline: 4px solid $clr6;
        }
    }
    .show {
        background-color: #fff;
        color: $clr1;
    }
}
